html, body {
    /* top: 0; */
    /* width: 100%; */
    /* height: 100%; */
    margin: 0;
    /* padding: 0; */
    /* margin-top: 100px; */
    font-family: 'Domine', serif;
    font-size: 60;
    color: black;
    text-align: center;
    background: lightgray;
    /* scroll-margin-top: 100px; */
}

.top {
    position: fixed;
    z-index: 1000;
    top: 0;
    /* float: top; */
    width: 100%;
    height: 100px;
    background: lightsalmon;
    font-weight: 700;
}
.top .text {
    padding: 10px;
    display: inline-block;
}
.top .sub {
    font-weight: 400;
    float: center;
}
.top .settings {
    float: right;
    padding: 10px;
    padding-right: 20px;
    /* display: inline-block; */
    filter: invert(100%);
}
.top .goback {
    float: left;
    padding: 10px;
    padding-left: 20px;
    filter: invert(100%);
}
.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: lightseagreen;
    font-weight: 400;
}
.bottom .text{
    float: right;
    padding: 10px;
    /* display: inline-block; */
}
.bottom .send {
    float: right;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    /* filter: invert(100%); */
}

.middle {
    /* position: static; */
    /* top: 100px; */
    /* padding-top: 100px; */
    margin-top: 100px;
    /* padding-bottom: 100px; */
    margin-bottom: 100px;
    /* height: 100%; */
    font-weight: 400;
}
/* .middle .item {
    display: block;
    height: 100px;
    background: seagreen;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
} */

table {
    table-layout: fixed;
    width: 100%;
    font-size: 40;
    border-spacing: 20px;
    /* border-collapse: collapse; */
    /* border: 3px solid purple; */
}
tr {
    padding: 10px;
}
td {
    padding: 10px;
}
input[type=checkbox] {
    transform: scale(3);
}
input[type=number] {
    scroll-margin-top: 100px;
    scroll-margin-bottom: 100px;
    transform: scale(3);
    width: 25%;
}
/* .cofesa {
    box-shadow: inset 0px 0px 5px 7px orange;
}
.extra {
    box-shadow: inset 0px 0px 5px 7px red;
} */
.quantia {
    text-align: right;
    /* padding: 10px; */
}
thead th:nth-child(1){
    width: 15%;
    text-align: right;
}
thead th:nth-child(2) {
    width:25%;
}
thead th:nth-child(3) {
    width: 50%;
}
thead th:nth-child(4) {
    width: 10%;
}
