html, body {
    margin: 0;
    font-family: 'Domine', serif;
    font-size: calc(4*(1vh+1vw)/2);
    color: black;
    text-align: center;
    background: lightgray;
}

.top-bar {
    z-index: 1000;
    position: sticky;
    top: 0;
    width: 100%;
    min-width: fit-content;
    line-height: 2rem;
    white-space: nowrap;
    background: lightcoral;
}

.bottom-bar {
    position: sticky;
    bottom: 0;
    width: 100%;
    min-width: fit-content;
    line-height: 2rem;
    white-space: nowrap;
    text-align: right;
    background: lightseagreen;
}
.bottom-bar .send {
    float: right;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    /* filter: invert(100%); */
}
.content{
    /* margin-top: 2rem; */
    /* margin-bottom: 2rem; */
}
table {
    table-layout: fixed;
    width: 100%;
    font-size: inherit;
}
tr {
    height: 2em;
}
td:nth-child(1) {
    width: 20%;
    text-align: center;
}
td:nth-child(2) {
    width: 20%;
}
td:nth-child(3) {
    width: 60%;
}
input[type=number] {
    scroll-margin-top: 2rem;
    scroll-margin-bottom: 2rem;
    transform: scale(3);
    width: inherit;
}

